<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>oauth</servlet-name>
  	<display-name>oauth</display-name>
  	<description></description>
  	<servlet-class>controller.OauthController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>third_login</servlet-name>
  	<display-name>third_login</display-name>
  	<description></description>
  	<servlet-class>controller.ThirdLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>oauth</servlet-name>
  	<url-pattern>/oauth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>third_login</servlet-name>
  	<url-pattern>/third_login</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
